@import url('https://fonts.googleapis.com/css?family=Roboto|Ovo|Quattrocento+Sans');
.fade_in_anim {
  -webkit-animation: fade_in 0.6s linear;
  -moz-animation: fade_in 0.6s linear;
  animation: fade_in 0.6s linear;
  animation-fill-mode: forwards;
}
@-moz-keyframes fade_in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fade_in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fade_up_out_anim {
  -webkit-animation: fade_up_out 0.6s ease-in;
  -moz-animation: fade_up_out 0.6s ease-in;
  animation: fade_up_out 0.6s ease-in;
  animation-fill-mode: forwards;
}
@-moz-keyframes fade_up_out {
  from {
    opacity: 1;
    visibility: visible;
    top: 0;
    position: relative;
  }
  to {
    opacity: 0;
    visibility: hidden;
    top: -50px;
    position: absolute;
  }
}
@-webkit-keyframes fade_up_out {
  from {
    opacity: 1;
    visibility: visible;
    top: 0;
    position: relative;
  }
  to {
    opacity: 0;
    visibility: hidden;
    top: -50px;
    position: absolute;
  }
}
@keyframes fade_up_out {
  from {
    opacity: 1;
    visibility: visible;
    top: 0;
    position: relative;
  }
  to {
    opacity: 0;
    visibility: hidden;
    top: -50px;
    position: absolute;
  }
}
.now_playing {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #777;
  border: 2px solid #e6e6e6;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  opacity: 0;
  transition: 0.35s linear;
}
.now_playing em {
  color: #333;
}
.entry_screen {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.entry_screen_anim {
  -webkit-animation: entry_screen_fade 0.8s ease;
  -moz-animation: entry_screen_fade 0.8s ease;
  animation: entry_screen_fade 0.8s ease;
  animation-fill-mode: forwards;
}
@-moz-keyframes entry_screen_fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes entry_screen_fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes entry_screen_fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.entry_logo {
  height: 400px;
  width: 600px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.logo_yellow {
  background: url('../imgs/Logomark_yellow.png') no-repeat;
  background-size: contain;
  margin: 220px 0 0 -300px;
}
.logo_aqua {
  background: url('../imgs/Logomark_aqua.png') no-repeat;
  background-size: contain;
  margin: 140px 0 0 -300px;
}
.logo_pink {
  background: url('../imgs/Logomark_pink.png') no-repeat;
  background-size: contain;
  margin: -40px 0 0 -300px;
}
.yellow_move_anim {
  -webkit-animation: yellow_move 2.2s ease;
  -moz-animation: yellow_move 2.2s ease;
  animation: yellow_move 2.2s ease;
  animation-fill-mode: forwards;
}
@-moz-keyframes yellow_move {
  0% {
    opacity: 0;
    left: 20%;
    margin: 220px 0 0 -300px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    background: url('../imgs/Logomark_yellow.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
@-webkit-keyframes yellow_move {
  0% {
    opacity: 0;
    left: 20%;
    margin: 220px 0 0 -300px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    background: url('../imgs/Logomark_yellow.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
@keyframes yellow_move {
  0% {
    opacity: 0;
    left: 20%;
    margin: 220px 0 0 -300px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    background: url('../imgs/Logomark_yellow.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
.aqua_move_anim {
  -webkit-animation: aqua_move 2.6s ease;
  -moz-animation: aqua_move 2.6s ease;
  animation: aqua_move 2.6s ease;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-moz-keyframes aqua_move {
  0% {
    opacity: 0;
    left: 80%;
    margin: 140px 0 0 -300px;
    height: 400px;
    width: 600px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark_aqua.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
@-webkit-keyframes aqua_move {
  0% {
    opacity: 0;
    left: 80%;
    margin: 140px 0 0 -300px;
    height: 400px;
    width: 600px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark_aqua.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
@keyframes aqua_move {
  0% {
    opacity: 0;
    left: 80%;
    margin: 140px 0 0 -300px;
    height: 400px;
    width: 600px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark_aqua.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
.pink_move_anim {
  -webkit-animation: pink_move 1.7s ease;
  -moz-animation: pink_move 1.7s ease;
  animation: pink_move 1.7s ease;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
@-moz-keyframes pink_move {
  0% {
    opacity: 0;
    left: 40%;
    margin: -40px 0 0 -300px;
    height: 400px;
    width: 600px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark_pink.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
@-webkit-keyframes pink_move {
  0% {
    opacity: 0;
    left: 40%;
    margin: -40px 0 0 -300px;
    height: 400px;
    width: 600px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark_pink.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
@keyframes pink_move {
  0% {
    opacity: 0;
    left: 40%;
    margin: -40px 0 0 -300px;
    height: 400px;
    width: 600px;
  }
  70% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark_pink.png') no-repeat;
    background-size: contain;
  }
  100% {
    opacity: 0.6;
    left: 50%;
    margin: 60px 0 0 -300px;
    height: 400px;
    width: 600px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
  }
}
.content_contain {
  width: 600px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.home_logo {
  opacity: 0.08;
  height: 400px;
  width: 600px;
  background: url('../imgs/Logomark.png') no-repeat;
  background-size: contain;
  position: absolute;
}
.play_btn {
  width: 200px;
  height: 200px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -120px 0 0 -100px;
  cursor: pointer;
  transition: 0.15s linear;
}
.play_btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
.play_btn_orbit_circle,
.circle1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff24a;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -120px 0 0 -100px;
  opacity: 0;
  transition: 0.25s linear;
  -webkit-animation: orbit1 3.6s linear infinite;
  -moz-animation: orbit1 3.6s linear infinite;
  animation: orbit1 3.6s linear infinite;
}
@-moz-keyframes orbit1 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
@-webkit-keyframes orbit1 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
@keyframes orbit1 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
.circle2 {
  background: #43f1c2;
  -webkit-animation: orbit2 5.1s linear infinite;
  -moz-animation: orbit2 5.1s linear infinite;
  animation: orbit2 5.1s linear infinite;
  transition: 0.8s linear;
}
@-moz-keyframes orbit2 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
@-webkit-keyframes orbit2 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
@keyframes orbit2 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
.circle3 {
  background: #ff5bea;
  -webkit-animation: orbit3 4s linear infinite;
  -moz-animation: orbit3 4s linear infinite;
  animation: orbit3 4s linear infinite;
  transition: 0.55s linear;
}
@-moz-keyframes orbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
@-webkit-keyframes orbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
@keyframes orbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}
.circle4 {
  background: rgba(0, 0, 0, 0);
  border: 14px solid #fff;
  animation: none;
  margin: -134px 0 0 -114px;
}
.play_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 85px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50px;
  left: 70px;
  transition: 0.15s linear;
  opacity: 1;
}
.pause_bars {
  width: 40px;
  height: 85px;
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
  position: absolute;
  top: 60px;
  left: 55px;
  transition: 0.15s linear;
  opacity: 0;
}
.main_audio_player {
  display: none;
  position: absolute;
  top: 15px;
  left: 200px;
  margin: 0;
}
.home_nav {
  opacity: 0;
  position: fixed;
  width: 500px;
  left: 50%;
  bottom: 90px;
  margin-left: -250px;
  text-align: center;
}
.home_nav .nav_item {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 0 45px;
  color: #333;
  transition: 0.12s linear;
}
.home_nav .nav_item.about_link:hover {
  color: #43f1c2;
}
.home_nav .nav_item.tunes_link:hover {
  color: #ff5bea;
}
.welcome {
  position: absolute;
  bottom: 18%;
  left: 50%;
  font-size: 40px;
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  font-family: 'Ovo', sans-serif;
  font-weight: 600;
  margin-left: -98px;
  transition: 0.17s linear;
  opacity: 0;
}
.welcome .caret {
  font-size: 18px;
  /* line-height: 0px; */
  /* background: pink; */
  display: inline-block;
  /* padding-bottom: 10px; */
  margin-top: 9px;
  vertical-align: top;
}
.welcome .scroll_indicator {
  position: relative;
  width: 70px;
  height: 50px;
  margin: -10px auto 0 auto;
}
.welcome .scroll_indicator .bar {
  width: 40px;
  height: 3px;
  background: #333;
  position: absolute;
  transform: rotate(40deg);
  transition: 0.09s linear;
  margin-top: 25px;
}
.welcome .scroll_indicator .bar2 {
  transform: rotate(-40deg);
  right: 0;
}
.welcome:hover {
  text-shadow: -20px -27px 0px #ff5bea, 20px 29px 0px #43f1c2;
}
@media (max-width: 500px) {
  .entry_logo {
    height: 200px;
    width: 300px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .logo_yellow {
    background: url('../imgs/Logomark_yellow.png') no-repeat;
    background-size: contain;
    margin: 360px 0 0 -100px;
  }
  .logo_aqua {
    background: url('../imgs/Logomark_aqua.png') no-repeat;
    background-size: contain;
    margin: 70px 0 0 0;
  }
  .logo_pink {
    background: url('../imgs/Logomark_pink.png') no-repeat;
    background-size: contain;
    margin: 280px 0 0 280px;
  }
  .yellow_move_anim {
    -webkit-animation: yellow_move 2.2s ease;
    -moz-animation: yellow_move 2.2s ease;
    animation: yellow_move 2.2s ease;
    animation-fill-mode: forwards;
  }
  @-moz-keyframes yellow_move {
    0% {
      opacity: 0;
      margin: 360px 0 0 -100px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      background: url('../imgs/Logomark_yellow.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  @-webkit-keyframes yellow_move {
    0% {
      opacity: 0;
      margin: 360px 0 0 -100px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      background: url('../imgs/Logomark_yellow.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  @keyframes yellow_move {
    0% {
      opacity: 0;
      margin: 360px 0 0 -100px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      background: url('../imgs/Logomark_yellow.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  .aqua_move_anim {
    -webkit-animation: aqua_move 2.6s ease;
    -moz-animation: aqua_move 2.6s ease;
    animation: aqua_move 2.6s ease;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  @-moz-keyframes aqua_move {
    0% {
      opacity: 0;
      margin: 70px 0 0 0;
      height: 200px;
      width: 300px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark_aqua.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  @-webkit-keyframes aqua_move {
    0% {
      opacity: 0;
      margin: 70px 0 0 0;
      height: 200px;
      width: 300px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark_aqua.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  @keyframes aqua_move {
    0% {
      opacity: 0;
      margin: 70px 0 0 0;
      height: 200px;
      width: 300px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark_aqua.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  .pink_move_anim {
    -webkit-animation: pink_move 1.9s ease;
    -moz-animation: pink_move 1.9s ease;
    animation: pink_move 1.9s ease;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  @-moz-keyframes pink_move {
    0% {
      opacity: 0;
      margin: 280px 0 0 280px;
      height: 200px;
      width: 300px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark_pink.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  @-webkit-keyframes pink_move {
    0% {
      opacity: 0;
      margin: 280px 0 0 280px;
      height: 200px;
      width: 300px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark_pink.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  @keyframes pink_move {
    0% {
      opacity: 0;
      margin: 280px 0 0 280px;
      height: 200px;
      width: 300px;
    }
    70% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark_pink.png') no-repeat;
      background-size: contain;
    }
    100% {
      opacity: 0.6;
      margin: 220px 0 0 35px;
      height: 200px;
      width: 300px;
      background: url('../imgs/Logomark.png') no-repeat;
      background-size: contain;
    }
  }
  .content_contain {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .home_logo {
    opacity: 0.08;
    height: 200px;
    width: 300px;
    background: url('../imgs/Logomark.png') no-repeat;
    background-size: contain;
    position: absolute;
  }
}
