@import url('https://fonts.googleapis.com/css?family=Roboto|Ovo|Quattrocento+Sans');

@off_black: #333;
@yellow: #fff24a;
@aqua: #43f1c2;
@pink: #ff5bea;

.absolute_pos(@top, @right, @bottom, @left) {
	position: absolute;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}
.fixed_pos(@top, @right, @bottom, @left) {
	position: fixed;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
}
.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}
.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}

// ::webkit-scrollbar {
// 	display: none;
// }
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body {
	background: url('../imgs/wall4.png');
	overflow-x: hidden;
	color: @off_black;
}
.em {
	height: 1.3em !important;
    width: 1.3em !important;
    margin-left: 6px;
    margin-top: -7px;
    &.em-metal {
    	margin-left: 0;
    }
}
.upper_section {
	.absolute_pos(0, 0, auto, 0);
	margin: auto;
	height: 30%;
	transition: 0.3s linear;
}
.mid_section {
	.absolute_pos(0, 0, 0, 0);
	margin: auto;
	height: 40%;
	transition: 0.3s linear;
}
.lower_section {
	.absolute_pos(auto, 0, 0, 0);
	margin: auto;
	height: 30%;
	transition: 0.3s linear;
}
.page_link {
	font-family: "Ovo", serif;
    font-size: 55px;
    font-weight: 600;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.play_btn {
	width: 170px;
    height: 170px;
    // opacity: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    // margin: -120px 0 0 -100px;
    .absolute_pos(0, 0, 0, 0);
    margin: auto;
    cursor: pointer;
    transition: 0.15s linear;
    &:hover {
    	background: rgba(0, 0, 0, 0.8);
    }
}
.play_triangle {
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 42px 0 42px 68px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 43px;
    left: 60px;
    transition: 0.15s linear;
	opacity: 1;
}
.pause_bars {
	width: 30px;
    height: 80px;
    border-left: 25px solid #fff;
    border-right: 25px solid #fff;
    position: absolute;
    top: 47px;
    left: 45px;
    transition: 0.15s linear;
    opacity: 0;
}
.play_btn_orbit_circle, .circle1 {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: @yellow;
	position: absolute;
	left: 50%;
    top: 50%;
    margin: -85px 0 0 -85px;
    opacity: 0;
    transition: 0.25s linear;
    .keyframes(orbit1; {
		from { -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg); }
    	to   { -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
    });
    .animation(orbit1 3.6s linear infinite);
}
.circle2 {
	background: @aqua;
	.keyframes(orbit2; {
		from { -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg); }
    	to   { -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
    });
    .animation(orbit2 5.1s linear infinite);
    transition: 0.8s linear;
    // -webkit-animation-delay: 1s;
    // animation-delay: 1s;
}
.circle3 {
	background: @pink;
	.keyframes(orbit3; {
		from { -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg); }
    	to   { -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
    });
    .animation(orbit3 4s linear infinite);
    transition: 0.55s linear;
    // -webkit-animation-delay: 0.5s;
    // animation-delay: 0.5s;
}
.bg_circle {
	width: 165px;
	height: 38px;
	.absolute_pos(0,0,0,0);
	margin: auto;
	border-radius: 50%;
	transform: rotate(-10deg);
	opacity: 0.3;
	background: @pink;
	z-index: -10;
	&.bg_circle2 {
		background: @aqua;
		transform: rotate(35deg);
		width: 135px;
		height: 70px;
	}
}

audio {
	display: none;
}


///////////////////////////////////////////////////////////////////////////////////


// .me_page_slide_anim {
// 	.keyframes(me_page_slide; {
// 		from { left: -200%; }
//     	to   { left: 0; }
//     });
//     .animation(me_page_slide 0.3s linear);
//     animation-fill-mode: forwards;
// }
.me_screen {
	width: 100%;
	height: 100%;
	background: @yellow;
	.absolute_pos(0, auto, auto, -103%);
	transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.me_page {
	max-width: 100%;
	// height: 500px;
	.absolute_pos(0, 0, 0, 0);
	font-family: 'Quattrocento Sans', sans-serif;
	transform: translateX(-100%);
	margin: auto;
	padding: 50px 0 0 0;
	// margin-left: -100%;
	overflow-y: scroll;
	background: #fff;
	z-index: 20;
	transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.me_border {
	.absolute_pos(15px, 15px, 15px, 15px);
	margin: auto;
	border: 3px solid @aqua;
}
.close {
	// margin: 10px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	.fixed_pos(-35px, auto, auto, -35px);
	margin: auto;
	background: #fff;
	opacity: 0.6;
	border: 4px solid @yellow;
	z-index: 20;
	// transition: 1s linear;
	.close_icon {
		opacity: 0;
		position: relative;
		transition: 0.2s linear;
		.bar {
			width: 5px;
			height: 30px;
			.absolute_pos(59px, auto, auto, 66px);
			border-radius: 50px;
			background: @off_black;
			transform: rotate(50deg);
			&.bar2 {
				transform: rotate(-50deg);
				top: 42px;
			}
		}
	}
}
.close_bounce_anim {
	.keyframes(close_bounce; {
		0% { width: 55px; height: 55px; }
		50% { width: 120px; height: 120px;}
    	100%   { width: 110px; height: 110px; }
    });
    .animation(close_bounce 0.5s cubic-bezier(0.645, 0.045, 0.355, 1));
    animation-fill-mode: forwards;
}
.portrait {
	width: 80%;
	height: 300px;
	margin: 0 auto 0 18%;
	background: url('../imgs/portrait.png') no-repeat;
	background-size: contain;
}
h1.pleasure {
	font-size: 45px;
    font-family: 'Ovo', serif;
    text-align: center;
    line-height: 50px;
    margin-top: 0;
    background: #fff;
    padding: 0 30px;
}
.me_text {
	font-size: 22px;
    text-align: center;
    padding: 40px;
    line-height: 28px;
    margin-top: 30px;
    background: url('../imgs/wall4.png');
    a {
    	text-decoration: none;
    	color: @off_black;
    	font-weight: 600;
    }
    .insta_link_highlight {
    	background: url('../imgs/highlight_yellow.png') no-repeat;
    	background-size: 100% 100%; 
    }
}
.contact_section {
	text-align: center;
	p {
		font-size: 22px;
		text-align: center;
		line-height: 28px;
		padding: 15px 40px 0;
	}
}
.newsletter {
	font-family: 'Quattrocento Sans', sans-serif;
	margin-top: 30px;
	margin-bottom: 40px;
	input {
		border: 1px solid #b7b7b7;
	    // width: 90%;
	    font-size: 18px;
	    padding: 9px 10px;
	    border-radius: 4px;
	    display: block;
	    margin: 0 auto;
	}
	#submit {
		padding: 8px;
		background: @yellow;
		width: 120px;
		font-size: 18px;
		// letter-spacing: 1px;
		margin-top: 20px;
		border-radius: 100px;
		border: none;
	}
}
.me_footer {
	background: url('../imgs/wall4.png');
	padding: 20px 0;
	p {
		font-size: 22px;
		text-align: center;
		line-height: 28px;
		padding: 0 40px;
		a {
			color: @off_black;
			text-decoration: none;
		}
	}
}
.social {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.social_icon {
	width: 60px;
    height: 60px;
    display: inline-block;
    margin: 0 15px;
    opacity: 0.7;
    border: 2px solid @off_black;
    border-radius: 50%;
}
.fb {
	background: url(../imgs/fb_lite.png) no-repeat center;
	background-size: 30%;
}
.youtube {
	background: url(../imgs/yt_lite.png) no-repeat center;
	background-size: 60%;
}
.ig {
	background: url(../imgs/insta_lite.png) no-repeat center;
	background-size: 60%;
}
.me_bottom_bar {
	// margin-top: 25px;
	background: url('../imgs/wall4.png');
	height: 20px;
	border-top: 4px solid @yellow;
}


///////////////////////////////////////////////////////////////////////////////////


// .tunes_page_slide_anim {
// 	.keyframes(tunes_page_slide; {
// 		from { right: -200%; }
//     	to   { right: 0; }
//     });
//     .animation(tunes_page_slide 0.3s linear);
//     animation-fill-mode: forwards;
// }
.tunes_screen {
	width: 100%;
	height: 100%;
	background: @aqua;
	// transform: translateX(103%);
	.absolute_pos(0, -103%, auto, auto);
	transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.tunes_page {
	width: 100%;
	// height: 500px;
	.absolute_pos(0, 0, 0, 0);
	margin: auto;
	transform: translateX(103%);
	// margin-left: -100%;
	background: #fff;
	z-index: 20;
	transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.close_tunes {
	display: none;
	border: 3px solid @aqua;
}
.videos {
	background: #fff;
	padding-bottom: 1px;
}
.vid {
	margin: 60px auto;
    width: 75%;
    padding-right: 20px;
    height: 170px;
    position: relative;
    .bg_box {
    	height: 35px;
    	background: @aqua;
    	.absolute_pos(65px, auto, auto, -12%);
    	width: 124%;
    	// z-index: -2;
    }
}
iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	background: @off_black;
	// border: 8px solid #fff;
}
.audio_clips {
	background: url('../imgs/wall4.png');
	padding: 40px 30px;
	.audio_play_btn {
	    width: 80px;
	    height: 70px;
	    background: #fff;
	    border-bottom-left-radius: 100px;
	    border-bottom-right-radius: 100px;
	    /* display: inline-block; */
	    margin: -3 0 0 20px;
	    border: 3px solid @aqua;
	    border-top: 0;
	    position: relative;
	    &.btn1 {
			.audio_play_triangle {
				top: 10px;
			}
	    }
	    &.btn2 {
	    	// float: right;
	    	margin: 0 20px -4px auto;
	    	border-bottom: 0;
	    	border-top: 3px solid @aqua;
	    	border-radius: 0;
	    	border-top-left-radius: 100px;
	    	border-top-right-radius: 100px;
	    }
    }
    .audio_play_triangle {
    	width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 0 20px 32px;
		border-color: transparent transparent transparent @off_black;
		.absolute_pos(20px, auto, auto, 28px);
		transition: 0.15s linear;
		opacity: 1;
    }
    .audio_play_bars {
    	width: 12px;
	    height: 38px;
	    border-left: 12px solid @off_black;
	    border-right: 12px solid @off_black;
	    position: absolute;
	    top: 21px;
	    left: 22px;
	    transition: 0.15s linear;
	    opacity: 0;
    }
	.audio_tile {
		// width: 90%;
	    // height: 120px;
	    padding: 12px 13px;
	    background: #fff;
	    border: 2px solid @aqua;
	    // box-shadow: none;
	    box-shadow: 10px 10px @aqua;
	    margin: 0;
	    text-align: right;
	    &.tile2 {
	    	// box-shadow: none;
	    	box-shadow: -10px 10px @aqua;
	    	text-align: left;
	    }
	    
	    .audio_desc {
	    	font-family: "Quattrocento Sans", sans-serif;
	    	font-size: 19px;
	    	display: inline-block;
	    	// width: 180px;
	    	// margin-left: 20px;
	    	.title {
				font-size: 22px;
				font-weight: 600;
	    	}
	    	p {
	    		margin: 2px 0;
	    	}
	    }
	}
}
.tunes_footer {
	background: #fff;
	padding: 10px 30px;
	text-align: center;
	font-size: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
	.title {
		font-weight: 600;
		display: block;
		margin-bottom: 4px;
	}
}
.tunes_bottom_bar {
	// margin-top: 25px;
	background: #fff;
	height: 20px;
	border-top: 4px solid @aqua;
}





























